.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
h2{
    text-align: center;
}

.name{
    font-weight: bolder;
}

.more-card {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    border-radius: 12px;
    background-color: #E5E8E8;
    margin: 10px;
}